<div class="index-wrapper">
  <% page.posts.each(post => { %>
    <article class="article-wrapper">
      <a href="<%= url_for(post.path) %>" class="article-title">
        <%= post.title %>
      </a>
      <%- partial('_partial/meta', {post: post}) %>
      <div class="markdown-body">
        <% if (post.excerpt){ %>
          <%- post.excerpt %>
        <% } else { %>
          <%- post.content %>
        <% } %>
      </div>
    </article>
  <% }) %>
  <%- partial('_partial/pager') %> 
</div>