<section class="archive-year">
    <h1>
        <%= year %>
    </h1>
    <ul>
      <% posts.sort((l, r) => r.date - l.date) %>
      <% posts.forEach(post => { %>
        <li>
          <time><%= post.date.format("MMM Do") %></time>
          <a href="<%= url_for(post.path) %>" class="title">
            <%= post.title %>
          </a>
          <% post.tags.each(tag => { %>
            <a class="tags"><%= tag.name %></a>
          <% }) %>
        </li>
      <% }) %>
    </ul>
</section>